---
import Layout from '../layouts/Layout.astro'
import Support from '~illustration-maker-web/components/support.astro'
---

<Layout>
  <main
    class="h-screen flex flex-col justify-center items-center bg-gray-50 dark:bg-gray-800"
  >
    <section class="max-w-xl w-full my-5 px-8">
      <h1
        class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-center text-gray-900 md:text-3xl lg:text-4xl dark:text-white"
      >
        Check CS-player's stats faster.
      </h1>
      <p class="text-lg text-center text-gray-900 dark:text-white">
        Just add two symbols to the profile URL.
      </p>

      <a
        href="https://ddsteamcommunity.com/id/nuBo3aBp/"
        class="p-2 flex items-center hover:bg-gray-200 bg-gray-100 dark:bg-gray-600 hover:dark:bg-gray-500 border text-center w-fit mx-auto my-4 break-words rounded-md dark:text-gray-50"
        ><p>
          <span>https://</span><span class="text-red-500">dd</span><span
            >steamcommunity.com/id/nuBo3aBp/</span>
        </p></a
      >
    </section>
    <section class="px-8">
      <Support />
    </section>
  </main>
</Layout>
