---
import '../styles/base.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:title"
      content="Transform your GIFs into a steam showcase"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="A simple application that will help you beautify your Steam profile."
    />
    <meta
      property="og:site_name"
      content="Cs-services is a collection of useful tools for gamers."
    />
    <title>Steam profile illustration generator</title>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      ;(function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            ;(m[i].a = m[i].a || []).push(arguments)
          }
        m[i].l = 1 * new Date()
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return
          }
        }
        ;(k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a)
      })(
        window,
        document,
        'script',
        'https://mc.yandex.ru/metrika/tag.js',
        'ym'
      )

      ym(99727885, 'init', {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
      })
    </script>
    <!-- /Yandex.Metrika counter -->
  </head>
  <body>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/99727885"
          style="position:absolute; left:-9999px;"
          alt=""
        />
      </div></noscript
    >
    <slot />
    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"
    ></script>
  </body>
</html>
