---
import Layout from '../layouts/Layout.astro'
import Form from '../components/form.astro'
import NextSteps from '../components/next-steps.astro'
import Support from '../components/support.astro'
---

<Layout>
  <div id="container">
    <main
      class="min-h-screen flex flex-col justify-center items-center bg-gray-100 dark:bg-gray-800"
    >
      <section class="max-w-xl w-full my-5 px-8">
        <h1
          class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-balance text-gray-900 md:text-3xl lg:text-4xl dark:text-white"
        >
          Transform your GIFs into a steam showcase
        </h1>
        <Form />
        <hr class="h-px my-8 w-full bg-gray-200 border-0 dark:bg-gray-700" />
        <NextSteps />
        <hr class="h-px my-8 w-full bg-gray-200 border-0 dark:bg-gray-700" />
        <Support />
      </section>
    </main>
  </div>
</Layout>
<script src="../scripts/form.ts"></script>
